* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
@import "~antd/dist/antd.css";
.home,
.services,
/* .products, */
.sign-up {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0;
}

.services {
    background-image: url("/src/images/img-2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 10rem;
}

/*       */

.sign-up {
    background-image: url("/src/images/img-8.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 10rem;
}
